<h1 style="text-align: center;">My Albums by rails</h1>
<ul>
	<% @photos.each do |photo| %>
		<li>
			<%= photo.title %>
			<br>
			<%= link_to 'SHOW', photo_path(photo) %>
			<%= link_to 'EDIT', edit_photo_path(photo) %>
			<%= link_to 'DELETE', photo_path(photo), method: :delete, data:{
					confirm: "Are you sure you want to delete this photo ?"
				} %>			

		</li>
	<% end %>
	
</ul>

<%= link_to 'Add New Photo', new_photo_path %>